.intro h1 {
  color: transparent;
  -webkit-text-stroke: 2px #ff6000;
}

.intro h1::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ff6000;
  -webkit-text-stroke: 0vw #ff6000;
  overflow: hidden;
  animation: animate 6s linear;
  text-transform: uppercase;
}
.scrolled-down{
  transform:translateY(-100%); 
  transition: all 1s ease-in-out;
}
.scrolled-up{
  transform:translateY(0); 
  transition: all 1s ease-in-out;
}

@keyframes animate {
  0%,
  10% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}
